<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Delete student</title>
</head>
<body>

<form action="/delete?id=${id}" method="POST">
    <p>Do you want to delete "${name} ${surname}, ${birthday}"?
        <input type="radio" name="delete" value="Yes" checked/>Yes
        <input type="radio" name="delete" value="No"/>No</p>
    <p><input type="submit" value="Ok"></p>
</form>

</body>
</html>