<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>SQL tasks</title>
</head>
<body>

<p><a href="/">На главную</a></p>
<p><h3>Простые запросы</h3></p>
<p>1. <a href="/report?id=1">Выбрать имя, фамилию, оценку для каждого студента.</a></p>
<p>2. <a href="/report?id=2">Выбрать имя, фамилию, оценку, номер группы для каждого студента. Сортировка по фамилии.</a></p>
<p>3. <a href="/report?id=3">Выбрать имя, фамилию, дату рождения, оценку, номер группы, номер и название кафедры для каждого студента. Сортировка по фамилии и дате рождения (2мя способами).</a></p>
<p>4. <a href="/report?id=4">Выбрать имя, фамилию и номер группы иностранных студентов.</a></p>
<p>5. <a href="/report?id=5">Посчитать количество студентов.</a></p>
<p>6. <a href="/report?id=6">Посчитать количество всех студентов, у которых оценка 4.</a></p>
<p>7. <a href="/report?id=7">Посчитать количество студенток, у которых оценка 4.</a></p>
<p>8. <a href="/report?id=8">Выбрать оценки и количество студентов, получивших данные оценки.</a></p>
<p>9. <a href="/report?id=9">Вывести название кафедр и количество специальностей для каждой кафедры.</a></p>
<p>10. <a href="/report?id=10">Вывести среднюю оценку в каждой группе.</a></p>
<p>11. <a href="/report?id=11">Посчитать родственников для каждого студента.</a></p>
<p>12. <a href="/report?id=12">Вычислить возраст для каждого студента. Вывести фамилию и имя студента в формате «Иванов И.» и соответствующий ему возраст.</a></p>
<p>13. <a href="/report?id=13">Посчитать количество всех студентов старше 22 лет, у которых оценка 3.</a></p>
<p>14. <a href="/report?id=14">Выбрать студентов, у которых родственники не выезжали за границу.</a></p>
<p>15. <a href="/report?id=15">Посчитать студентов в каждой группе, у которых родственники не выезжали за границу.</a></p>

<p><h3>Сложные запросы</h3></p>
<p>I вариант:</p>
<p>1. <a href="/report?id=16">Составить отчет: фамилия студента, предприятие, на которое трудоустроился студент, группа студента и общая сумма оплаты за студентов этой группы.</a></p>
<p>2. <a href="/report?id=17">С помощью запроса выбрать пропущенные номера из таблицы NUMTABLE.</a></p>

</body>
</html>